In [2]:
### Подготовительная часть
# импортирование библиотек
import pandas as pd
import numpy as np
# загрузка данных 
pd.read_csv(filepath_or_buffer = "../../source/sp500_1.csv", 
            sep =',')
# модификация данных 
sp500 = pd.read_csv(filepath_or_buffer = "../../source/sp500_1.csv", 
            sep =',',
            usecols = ['Symbol', 'Sector', 'Price','Founded'],
            index_col = 'Symbol')
np.random.seed(123)
numbers = pd.Series(data = np.random.normal(size=10),
                    index = np.arange(25,35))
Simpsons = pd.Series({'Homer'  : 120,
                     'Marge'  : 60,
                     'BArt'   : 35,
                     'Lisa'   : 30,
                     'Maggie' : 7})

### Добавелние

In [3]:
# Создание копии, чтобы исходные данные не менять

In [4]:
sp500_copy=sp500.copy()

In [5]:
# Добавление столбца

In [6]:
sp500_copy['RoundedPrice'] = sp500_copy.Price.round()
sp500_copy.head(3)

             Sector             Price Founded      RoundedPrice
Symbol
MMM     Industrials             66740    1902             66740
AOS     Industrials  4343243243432434    1916  4343243243432434
ABT     Health Care              1800    1888              1800

In [7]:
# метод insert

In [8]:
sp500_copy=sp500.copy()

In [9]:
# вставляем столебц RoundedPrice в качестве третьго столбца датафрейма