In [1]:
### Подготовительная часть

In [2]:
# импортирование библиотек
import pandas as pd
import numpy as np

In [3]:
# загрузка данных 
pd.read_csv(filepath_or_buffer = "../../source/sp500.csv", 
            sep =',')

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,4343243243432434,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
499,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
500,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [17]:
# модификация данных 
sp500 = pd.read_csv(filepath_or_buffer = "../../source/sp500.csv", 
            sep =',',
            usecols = ['Symbol', 'GICS Sub-Industry', 'CIK','Founded'],
            index_col = 'Symbol')

In [37]:
np.random.seed(123)
numbers = pd.Series(data = np.random.normal(size=10),
                    index = np.arange(25,35))
numbers

25   -1.085631
26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
30    1.651437
31   -2.426679
32   -0.428913
33    1.265936
34   -0.866740
dtype: float64

### Срезы данных

In [5]:
# Series

Задаем срез по правилу: [начальная позиция: конечная позиция: величина шага], при этом:
- Первая граница - не включается 
- шаг может быть отрицатлеьным
- Позиция также может быть отрицательной - тогда отсчет происходит "с другого конца"
- Нумерация происходит от нуля
При созаднии среза копирование данных не производится

In [8]:
numbers.iloc[1:6]

26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
30    1.651437
dtype: float64

In [9]:
numbers.iloc[1:6:2]

26    0.997345
28   -1.506295
30    1.651437
dtype: float64

In [10]:
numbers.iloc[:6]

25   -1.085631
26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
30    1.651437
dtype: float64

In [11]:
numbers.iloc[3:]

28   -1.506295
29   -0.578600
30    1.651437
31   -2.426679
32   -0.428913
33    1.265936
34   -0.866740
dtype: float64

In [12]:
numbers.iloc[5::-1]

30    1.651437
29   -0.578600
28   -1.506295
27    0.282978
26    0.997345
25   -1.085631
dtype: float64

In [13]:
numbers.iloc[-4:] # отбор последний 4 строк

31   -2.426679
32   -0.428913
33    1.265936
34   -0.866740
dtype: float64

In [14]:
# DataFrame

In [18]:
sp500.iloc[:5]

                     GICS Sub-Industry               CIK      Founded
Symbol
MMM           Industrial Conglomerates             66740         1902
AOS                  Building Products  4343243243432434         1916
ABT              Health Care Equipment              1800         1888
ABBV                   Pharmaceuticals           1551152  2013 (1888)
ACN     IT Consulting & Other Services           1467373         1989

In [19]:
sp500.iloc[4::-1]

                     GICS Sub-Industry               CIK      Founded
Symbol
ACN     IT Consulting & Other Services           1467373         1989
ABBV                   Pharmaceuticals           1551152  2013 (1888)
ABT              Health Care Equipment              1800         1888
AOS                  Building Products  4343243243432434         1916
MMM           Industrial Conglomerates             66740         1902

In [20]:
# строки, начиная с метки MMM и заканчивая меткой ACN

In [21]:
sp500.loc['MMM':'ACN']

                     GICS Sub-Industry               CIK      Founded
Symbol
MMM           Industrial Conglomerates             66740         1902
AOS                  Building Products  4343243243432434         1916
ABT              Health Care Equipment              1800         1888
ABBV                   Pharmaceuticals           1551152  2013 (1888)
ACN     IT Consulting & Other Services           1467373         1989

### копирование и ссылки

In [39]:
# сохранили элементы с 1 по 4
n = numbers.iloc[[1,2,3,4]]
n

26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
dtype: float64

In [38]:
# присваиваем значение 0 всем элементам 
n.loc[:] = 0
n

26    0.0
27    0.0
28    0.0
29    0.0
dtype: float64

In [40]:
# numbers - остался без измениений
numbers

25   -1.085631
26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
30    1.651437
31   -2.426679
32   -0.428913
33    1.265936
34   -0.866740
dtype: float64

In [41]:
n = numbers.iloc[[1,2,3,4]]
n

26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
dtype: float64

In [42]:
# при создании среза используется ссылка на оригинальные данные 
k = numbers[1:5]
k.loc[:]=0

In [43]:
k

26    0.0
27    0.0
28    0.0
29    0.0
dtype: float64

In [44]:
numbers

25   -1.085631
26    0.000000
27    0.000000
28    0.000000
29    0.000000
30    1.651437
31   -2.426679
32   -0.428913
33    1.265936
34   -0.866740
dtype: float64

In [45]:
# восстановим пероночальный numbers
numbers[1:5] = n
numbers

25   -1.085631
26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
30    1.651437
31   -2.426679
32   -0.428913
33    1.265936
34   -0.866740
dtype: float64