## Бибилиотеки и данные

In [1]:
# импорт и настройка

In [2]:
# импортирование библиотек
import pandas as pd
import numpy as np

In [3]:
pd.options.display.max_rows = 10

 - считываем данные
 - используем столбец Symbol в качестве индекса
 - считываем только столбц ['Symbol', 'Sector', 'Price', 'Book Value']

| Coleum name	| Decription
| --------------|:---------------:| 
|Symbol |Сокращенное название организации|
|Name |Полное название организации|
|Sector |Сектор экономики|
|Price |Стоимость акции|
|Price/Earnings |Цена / прибыль|
|Dividend Yield |Дивиденддная доходность|
|Earnings/Share |Прибыль на акцию|
|52 Week Low |52 недельный минимум|
|52 Week High |52 недельный максимум|
|Market Cap |Рыночная капитализация|
|EBITDA |EBITDA|
|Price/Sales |Цена / объем продаж|
|BooK Value | Балансовая стоимость|
|SEC Filings |ссылка|

In [4]:
sp500 = pd.read_csv("../../source/sp500_2.csv", 
                    index_col='Symbol',
                    usecols=['Symbol','Sector','Price','BooK Value'])

### Как работает индекс пример

In [5]:
sp500.head(2)

             Sector   Price  BooK Value
Symbol
MMM     Industrials  222.89       11.34
AOS     Industrials   60.24        6.35

In [6]:
# Создаем DataFrame

In [8]:
np.random.seed(123)
df = pd.DataFrame({'value':np.random.random(10000), 'key': range(100, 10100)})
df.head

<bound method NDFrame.head of          value    key
0     0.696469    100
1     0.286139    101
2     0.226851    102
3     0.551315    103
4     0.719469    104
...        ...    ...
9995  0.354765  10095
9996  0.585060  10096
9997  0.985145  10097
9998  0.220662  10098
9999  0.613297  10099

[10000 rows x 2 columns]>

In [9]:
# отбираем строку, в котором значение столбца key равно 10099

In [10]:
df[df.key == 10099]

         value    key
9999  0.613297  10099

In [11]:
# измеряем время выполнения операции отбора

In [12]:
%timeit df[df.key == 10099]

168 µs ± 946 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [13]:
# превращаем столбец key в index

In [14]:
df_with_index = df.set_index(['key'])
df_with_index.head()

        value
key
100  0.696469
101  0.286139
102  0.226851
103  0.551315
104  0.719469

In [15]:
# теперь можно найти значнение с помощью индекса
df_with_index.loc[10099]

value    0.613297
Name: 10099, dtype: float64

In [16]:
%timeit df_with_index.loc[10099]

21.3 µs ± 95 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

<center><font color = 'green'><b>Вывод: использование индекса повышает скорость доступа к данным более чем в n раз</b></font>

### Операции с индексами

In [17]:
# Сброс
sp500.head(3)

             Sector   Price  BooK Value
Symbol
MMM     Industrials  222.89       11.34
AOS     Industrials   60.24        6.35
ABT     Health Care   56.27        3.19

In [18]:
# сбрасываем индекс, помещая значения индекса в столбец

In [19]:
index_moved_to_col = sp500.reset_index()
index_moved_to_col.head()

  Symbol                  Sector   Price  BooK Value
0    MMM             Industrials  222.89       11.34
1    AOS             Industrials   60.24        6.35
2    ABT             Health Care   56.27        3.19
3   ABBV             Health Care  108.48       26.14
4    ACN  Information Technology  150.51       10.62

In [20]:
# установка 
# делаем стобец Sector индексом

In [21]:
index_moved_to_col.set_index('Sector').head()

                       Symbol   Price  BooK Value
Sector
Industrials               MMM  222.89       11.34
Industrials               AOS   60.24        6.35
Health Care               ABT   56.27        3.19
Health Care              ABBV  108.48       26.14
Information Technology    ACN  150.51       10.62

#### Над множествами

In [23]:
data_rnd_part_1 = sp500.sample(100, random_state=333)
data_rnd_part_2 = sp500.sample(100, random_state=777)

In [24]:
data_rnd_part_1.head()

                        Sector   Price  BooK Value
Symbol
TSCO    Consumer Discretionary   65.94        6.01
FLS                Industrials   40.82        3.15
ESS                Real Estate  218.28        2.30
TPR     Consumer Discretionary   48.85        4.35
AKAM    Information Technology   62.49        3.25

In [25]:
data_rnd_part_2.head()

                        Sector   Price  BooK Value
Symbol
IT      Information Technology  114.26       13.47
STI                 Financials   65.80        1.38
CLX           Consumer Staples  127.76       21.62
AVY                  Materials  110.77        8.83
MTB                 Financials  178.35        1.79

In [26]:
# Объединение - множество уникальных индексов Symbol

In [31]:
ind_union = data_rnd_part_1.index | data_rnd_part_2.index
ind_union

/tmp/ipykernel_17732/1677716087.py:1: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead.
  ind_union = data_rnd_part_1.index | data_rnd_part_2.index

Index(['AAL', 'AAPL', 'ADM', 'AEP', 'AKAM', 'ALGN', 'ALLE', 'AMAT', 'AMD',
       'AMG',
       ...
       'WM', 'WU', 'WYN', 'XEL', 'XOM', 'XRAY', 'XRX', 'YUM', 'ZBH', 'ZION'],
      dtype='object', name='Symbol', length=181)

In [37]:
ind_union_2 = data_rnd_part_1.index.union( data_rnd_part_2.index)
ind_union_2

Index(['AAL', 'AAPL', 'ADM', 'AEP', 'AKAM', 'ALGN', 'ALLE', 'AMAT', 'AMD',
       'AMG',
       ...
       'WM', 'WU', 'WYN', 'XEL', 'XOM', 'XRAY', 'XRX', 'YUM', 'ZBH', 'ZION'],
      dtype='object', name='Symbol', length=181)

In [28]:
# Пересечение len(int_intersection) = число индексов Symbol которые есть и в первом и во втором датафрейме

In [38]:
int_intersection = data_rnd_part_1.index & data_rnd_part_2.index
int_intersection
len(int_intersection)

/tmp/ipykernel_17732/486938324.py:1: FutureWarning: Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead.
  int_intersection = data_rnd_part_1.index & data_rnd_part_2.index

19

In [36]:
int_intersection_2 = data_rnd_part_1.index.intersection( data_rnd_part_2.index)
int_intersection_2

Index(['FITB', 'VZ', 'ATVI', 'EA', 'GRMN', 'MTB', 'CSX', 'GPC', 'LNT', 'DVN',
       'CINF', 'MU', 'DPS', 'RSG', 'CAH', 'SNA', 'EMN', 'IR', 'JNJ'],
      dtype='object', name='Symbol')

In [29]:
# Разность - (сколько уникальных индексов в первом датафрейме )

In [39]:
ind_diff = data_rnd_part_1.index.difference(data_rnd_part_2.index)
len(ind_diff)

81

## Иерархическая индексация

In [40]:
# позволяет использовать два и более индексов для каждой строки

In [ ]:
# сначал помещаем Symbol в столбец

In [42]:
reindexed = sp500.reset_index()

In [43]:
reindexed.head()

  Symbol                  Sector   Price  BooK Value
0    MMM             Industrials  222.89       11.34
1    AOS             Industrials   60.24        6.35
2    ABT             Health Care   56.27        3.19
3   ABBV             Health Care  108.48       26.14
4    ACN  Information Technology  150.51       10.62

In [44]:
# проиндексируем датафрейм по столбцам Sector, Symbol - это будте мультииндекс

In [45]:
multi_fi = reindexed.set_index(['Sector','Symbol'])
multi_fi.head()

                                Price  BooK Value
Sector                 Symbol
Industrials            MMM     222.89       11.34
                       AOS      60.24        6.35
Health Care            ABT      56.27        3.19
                       ABBV    108.48       26.14
Information Technology ACN     150.51       10.62

In [77]:
type(multi_fi.index)

pandas.core.indexes.multi.MultiIndex

In [47]:
# мультииндекс имеет два уровня

In [48]:
len(multi_fi.index.levels)

2

In [49]:
# Измениение порядка уровней индекса:

In [78]:
multi_fi.index.levels[1]

Index(['A', 'AAL', 'AAP', 'AAPL', 'ABBV', 'ABC', 'ABT', 'ACN', 'ADBE', 'ADI',
       ...
       'XL', 'XLNX', 'XOM', 'XRAY', 'XRX', 'XYL', 'YUM', 'ZBH', 'ZION', 'ZTS'],
      dtype='object', name='Symbol', length=505)

In [80]:
multi_fi.index.levels[0]

Index(['Consumer Discretionary', 'Consumer Staples', 'Energy', 'Financials',
       'Health Care', 'Industrials', 'Information Technology', 'Materials',
       'Real Estate', 'Telecommunication Services', 'Utilities'],
      dtype='object', name='Sector')

In [50]:
multi_fi.reorder_levels([1,0], axis=0).head()

                                Price  BooK Value
Symbol Sector
MMM    Industrials             222.89       11.34
AOS    Industrials              60.24        6.35
ABT    Health Care              56.27        3.19
ABBV   Health Care             108.48       26.14
ACN    Information Technology  150.51       10.62

In [51]:
# получаем все акции, которые имеют значение Industrials (в результатах индекс уровня 0 не выводится)

In [52]:
multi_fi.xs('Industrials').head()

         Price  BooK Value
Symbol
MMM     222.89       11.34
AOS      60.24        6.35
AYI     145.41        3.55
ALK      64.04        2.21
ALLE     77.32       20.48

In [53]:
# отбираем строки, в которых ундекс уровня 1 Symbol = ALLE

In [54]:
multi_fi.xs('ALLE', level=1)

             Price  BooK Value
Sector
Industrials  77.32       20.48

In [55]:
# скомбинируем уровни индексов
# выбираем строку со занчением индекса Industrials на уровне 0 и  со занчением индекса UPS на уровне 1

In [56]:
multi_fi.xs('Industrials').xs('UPS')

Price         109.28
BooK Value     64.70
Name: UPS, dtype: float64

In [57]:
# скомбинируем уровни индекса используя кортеж

In [58]:
multi_fi.xs(('Industrials', 'UPS'))

Price         109.28
BooK Value     64.70
Name: (Industrials, UPS), dtype: float64

## ТИПЫ

In [59]:
# Основной тип index

In [60]:
# столбцы факатически являются индексом

In [61]:
sp500.columns

Index(['Sector', 'Price', 'BooK Value'], dtype='object')

In [62]:
sp500.index

Index(['MMM', 'AOS', 'ABT', 'ABBV', 'ACN', 'ATVI', 'AYI', 'ADBE', 'AAP', 'AMD',
       ...
       'WYNN', 'XEL', 'XRX', 'XLNX', 'XL', 'XYL', 'YUM', 'ZBH', 'ZION', 'ZTS'],
      dtype='object', name='Symbol', length=505)

In [63]:
# int64index и RangeIndex

In [64]:
# Явное создание int64index

In [66]:
df_i64 = pd.DataFrame(np.arange(10, 20), index=np.arange(0,10))
df_i64.head()

    0
0  10
1  11
2  12
3  13
4  14

In [67]:
df_i64.index

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int64')

In [68]:
# по умолчанию получаем RangeIndex

In [69]:
df_range = pd.DataFrame(np.arange(10,15))
df_range.head()

    0
0  10
1  11
2  12
3  13
4  14

In [71]:
df_range.index

RangeIndex(start=0, stop=5, step=1)

In [72]:
# Float64Index

In [75]:
df_f64 = pd.DataFrame(np.arange(0, 1000, 5),
                      np.arange(0.0, 100.0, 0.5))
df_f64.head()

      0
0.0   0
0.5   5
1.0  10
1.5  15
2.0  20

In [76]:
df_f64.index

Float64Index([ 0.0,  0.5,  1.0,  1.5,  2.0,  2.5,  3.0,  3.5,  4.0,  4.5,
              ...
              95.0, 95.5, 96.0, 96.5, 97.0, 97.5, 98.0, 98.5, 99.0, 99.5],
             dtype='float64', length=200)