In [88]:
# импортирование библиотек

In [109]:
import pandas as pd
import numpy as np

In [110]:
# структуры данных

# Serise
# создание Serise из значений их списка целых чисел

## Создание Series, DataFrame из списков (list)

In [111]:
s = pd.Series(data=[10, 11, 12, 13, 14],
               index=[1 ,2, 3, 5, 7])

# объект Series создается из списка data
# index - инедксные метки 
# dtype: int64 - тип данных который имеют значения объекта Series
s

1    10
2    11
3    12
5    13
7    14
dtype: int64

In [112]:
s = pd.Series(data=[10, 11, 12, 13, 14])

# объект Series создается из списка data
# если параметр index - не задавать то инедксные метки будут начинаться с 0, 1, 2 ...
# dtype: int64 - тип данных который имеют значения объекта Series
s

0    10
1    11
2    12
3    13
4    14
dtype: int64

In [113]:
# создание Serise из значений их строковых значений
s = pd.Series(['Blue', 'Yellow', 'Green'])
s

0      Blue
1    Yellow
2     Green
dtype: object

In [114]:
# создание Serise из 5 элементов, каждый элемент которого это - list [1,2]
l = [[1,2]]
s = pd.Series(l*5)
s

0    [1, 2]
1    [1, 2]
2    [1, 2]
3    [1, 2]
4    [1, 2]
dtype: object

In [115]:
# тоже самое только другая запись 
l = [1,2]
s = pd.Series([l]*5)
s

0    [1, 2]
1    [1, 2]
2    [1, 2]
3    [1, 2]
4    [1, 2]
dtype: object

In [116]:
# DataFrame
# создание DataFrame из двумерного списка
df = pd.DataFrame([[10, 11], [20,21], [30, 31]])
df

    0   1
0  10  11
1  20  21
2  30  31

In [117]:
# задание имен столбцов
df = pd.DataFrame([[10, 11], [20,21], [30, 31]],
                 columns=['A', 'B'])
df

    A   B
0  10  11
1  20  21
2  30  31

In [118]:
# Создание DataFrame для списка объектво Series
series_1 = pd.Series([70, 90])
series_2 = pd.Series([71, 91])
df = pd.DataFrame([series_1, series_2])
df

    0   1
0  70  90
1  71  91

In [119]:
# задание имен столбцов после создания DataFrame
df.columns = ['col_1', 'col_2']
df

   col_1  col_2
0     70     90
1     71     91

## Создание Series, DataFrame из словаря (dict)

In [120]:
s = pd.Series({'Homer'  : 'Dad',
               'Marge'  : 'Mom',
               'BArt'   : 'Son',
               'Lisa'   : 'Daughter',
               'Maggie' : 'Daughter'})
s

Homer          Dad
Marge          Mom
BArt           Son
Lisa      Daughter
Maggie    Daughter
dtype: object

In [121]:
# Создание DataFrame с помощью словаря
list_1 = [70, 71]
list_2 = [90, 91]
temperatures = {'col_1' : list_1,
                'col_2' : list_2}
pd.DataFrame(temperatures)

   col_1  col_2
0     70     90
1     71     91

In [122]:
# Создание DataFrame с помощью словаря состоящего из объектов Series
series_1 = pd.Series([70, 71])
series_2 = pd.Series([90, 91])

df = pd.DataFrame({'col_1' : series_1,
                   'col_2' : series_2})
df

   col_1  col_2
0     70     90
1     71     91

## Создание Series, DataFrame при помощи функций

In [123]:
# Создание Series используя np.arange - последовательность чисел от start -> stop-1 с шагом step
# np.arange(start, stop, step)
s = pd.Series(np.arange(10, 20, 2))
s

0    10
1    12
2    14
3    16
4    18
dtype: int64

In [124]:
# Создание Series из 5 значений, равномерно разбивающих отрезок
s = pd.Series(np.linspace(0, 9, 5))
s

0    0.00
1    2.25
2    4.50
3    6.75
4    9.00
dtype: float64

In [125]:
# Генератор случайных чисел 
# seed - позволит завиксировать (запоминить результат гернерации) случайный результат для будущих воспроизведений результатов
# Функция random.seed() в Python используется для инициализации случайных чисел. 
# По умолчанию генератор случайных чисел использует текущее системное время.
# Если вы дважды используете одно и то же начальное значение, вы получите один и тот же результат, что означает случайное число дважды.

# создание Series из 5 нормально распреедленных случайных чисел

np.random.seed(123)
s = pd.Series(np.random.normal(size=5))
s

0   -1.085631
1    0.997345
2    0.282978
3   -1.506295
4   -0.578600
dtype: float64

In [126]:
# Создание  DataFrame размером 4х3
np.random.seed(123)
df = pd.DataFrame(np.random.normal(size=12).reshape(4,3),
                  index=['ind_1','ind_2','ind_3','ind_4'],
                  columns=['col_1','col_2','col_3'])
df

          col_1     col_2     col_3
ind_1 -1.085631  0.997345  0.282978
ind_2 -1.506295 -0.578600  1.651437
ind_3 -2.426679 -0.428913  1.265936
ind_4 -0.866740 -0.678886 -0.094709

## из Файла

In [127]:
pd.read_csv(filepath_or_buffer = "../../source/sp500.csv", 
            sep =',')

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,4343243243432434,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
499,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
500,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [128]:
# по количеству строк
pd.read_csv(filepath_or_buffer = "../../source/sp500.csv", 
            sep =',',
            nrows = 3)

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,4343243243432434,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888

In [129]:
# по столбцам
pd.read_csv(filepath_or_buffer = "../../source/sp500.csv", 
            sep =',',
            nrows = 3,
            usecols = ['Symbol', 'GICS Sub-Industry', 'CIK'])

  Symbol         GICS Sub-Industry               CIK
0    MMM  Industrial Conglomerates             66740
1    AOS         Building Products  4343243243432434
2    ABT     Health Care Equipment              1800

In [130]:
# index - задает столбец который будет использоваться в качестве индекса
pd.read_csv(filepath_or_buffer = "../../source/sp500.csv", 
            sep =',',
            nrows = 3,
            usecols = ['Symbol', 'GICS Sub-Industry', 'CIK'],
            index_col = 'Symbol')

               GICS Sub-Industry               CIK
Symbol
MMM     Industrial Conglomerates             66740
AOS            Building Products  4343243243432434
ABT        Health Care Equipment              1800

In [131]:
# итератор создаем размер в 50 строк 
df_chunk = pd.read_csv(filepath_or_buffer = "../../source/sp500.csv", 
            sep =',',
            chunksize=50,
            usecols = ['Symbol', 'GICS Sub-Industry', 'CIK'],
            index_col = 'Symbol')

In [132]:
for df_tmp in df_chunk:
    print('DataFrame part:', df_tmp.shape)

DataFrame part: (50, 2)
DataFrame part: (50, 2)
DataFrame part: (50, 2)
DataFrame part: (50, 2)
DataFrame part: (50, 2)
DataFrame part: (50, 2)
DataFrame part: (50, 2)
DataFrame part: (50, 2)
DataFrame part: (50, 2)
DataFrame part: (50, 2)
DataFrame part: (3, 2)

In [133]:
sp500 = pd.read_csv(filepath_or_buffer = "../../source/sp500.csv", 
            sep =',',
            usecols = ['Symbol', 'GICS Sub-Industry', 'CIK','Founded'],
            index_col = 'Symbol')
sp500

                         GICS Sub-Industry               CIK      Founded
Symbol
MMM               Industrial Conglomerates             66740         1902
AOS                      Building Products  4343243243432434         1916
ABT                  Health Care Equipment              1800         1888
ABBV                       Pharmaceuticals           1551152  2013 (1888)
ACN         IT Consulting & Other Services           1467373         1989
...                                    ...               ...          ...
YUM                            Restaurants           1041061         1997
ZBRA    Electronic Equipment & Instruments            877212         1969
ZBH                  Health Care Equipment           1136869         1927
ZION                        Regional Banks            109380         1873
ZTS                        Pharmaceuticals           1555280         1952

[503 rows x 3 columns]

## Свойства Series, DataFrame

In [134]:
Simpsons = pd.Series({'Homer'  : 120,
                     'Marge'  : 60,
                     'BArt'   : 35,
                     'Lisa'   : 30,
                     'Maggie' : 7})
Simpsons

Homer     120
Marge      60
BArt       35
Lisa       30
Maggie      7
dtype: int64

In [135]:
np.random.seed(123)
numbers = pd.Series(data = np.random.normal(size=10),
                    index = np.arange(25,35))
numbers

25   -1.085631
26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
30    1.651437
31   -2.426679
32   -0.428913
33    1.265936
34   -0.866740
dtype: float64

In [136]:
## тип данных - узнать

In [137]:
Simpsons.dtype

dtype('int64')

In [138]:
sp500.dtypes

GICS Sub-Industry    object
CIK                   int64
Founded              object
dtype: object

In [139]:
# Получение кол-ва элементов Series
print ('Кол-во элементов способ -1 ', len(Simpsons))
print ('Кол-во элементов способ -2 ', Simpsons.size)
print ('Кол-во элементов способ -3 ', Simpsons.shape)
# Получение кол-ва элементов DataFrame
print ('Кол-во строк способ -1 ', len(sp500))
print ('Кол-во элементов способ -2 ', sp500.size)
print ('Кол-во строк, столбцов способ -3 ', sp500.shape)

Кол-во элементов способ -1  5
Кол-во элементов способ -2  5
Кол-во элементов способ -3  (5,)
Кол-во строк способ -1  503
Кол-во элементов способ -2  1509
Кол-во строк, столбцов способ -3  (503, 3)

In [140]:
# Количество уникальных элементов 
Simpsons.nunique()

5

In [141]:
sp500.nunique()

GICS Sub-Industry    127
CIK                  500
Founded              196
dtype: int64

In [142]:
# инедксы и значения

In [143]:
# получение индексов
Simpsons.index

Index(['Homer', 'Marge', 'BArt', 'Lisa', 'Maggie'], dtype='object')

In [144]:
# получение значений
Simpsons.values

array([120,  60,  35,  30,   7])

In [145]:
# DataFrame
sp500.index

Index(['MMM', 'AOS', 'ABT', 'ABBV', 'ACN', 'ATVI', 'ADM', 'ADBE', 'ADP', 'AAP',
       ...
       'WTW', 'GWW', 'WYNN', 'XEL', 'XYL', 'YUM', 'ZBRA', 'ZBH', 'ZION',
       'ZTS'],
      dtype='object', name='Symbol', length=503)

In [146]:
sp500.values

array([['Industrial Conglomerates', 66740, '1902'],
       ['Building Products', 4343243243432434, '1916'],
       ['Health Care Equipment', 1800, '1888'],
       ...,
       ['Health Care Equipment', 1136869, '1927'],
       ['Regional Banks', 109380, '1873'],
       ['Pharmaceuticals', 1555280, '1952']], dtype=object)

In [147]:
sp500.columns

Index(['GICS Sub-Industry', 'CIK', 'Founded'], dtype='object')

In [148]:
# присвоение имени объекта объекта 
Simpsons.name = 'Simpsons weight'
Simpsons

Homer     120
Marge      60
BArt       35
Lisa       30
Maggie      7
Name: Simpsons weight, dtype: int64

In [149]:
Simpsons.index.name = 'First name'
Simpsons

First name
Homer     120
Marge      60
BArt       35
Lisa       30
Maggie      7
Name: Simpsons weight, dtype: int64

In [162]:
# переименовать столбцы
sp500_copy = sp500.rename(columns = {'CIK': 'CIKE'})

In [163]:
sp500.columns

Index(['GICS Sub-Industry', 'CIK', 'Founded'], dtype='object')

In [164]:
sp500_copy.columns

Index(['GICS Sub-Industry', 'CIKE', 'Founded'], dtype='object')

In [165]:
# изменить параметр без создания копии
sp500_copy.rename(columns = {'CIKE': 'CIKY'}, inplace=True)

In [166]:
sp500_copy.columns

Index(['GICS Sub-Industry', 'CIKY', 'Founded'], dtype='object')