### Подготовительная часть

In [1]:
# импортирование библиотек
import pandas as pd
import numpy as np

In [2]:
# загрузка данных 
pd.read_csv(filepath_or_buffer = "../../source/sp500.csv", 
            sep =',')

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,4343243243432434,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
499,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
500,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [25]:
np.random.seed(123)
numbers = pd.Series(data = np.random.normal(size=10),
                    index = np.arange(25,35))

In [7]:
Simpsons = pd.Series({'Homer'  : 120,
                     'Marge'  : 60,
                     'BArt'   : 35,
                     'Lisa'   : 30,
                     'Maggie' : 7})

In [3]:
# модификация данных 
sp500 = pd.read_csv(filepath_or_buffer = "../../source/sp500.csv", 
            sep =',',
            usecols = ['Symbol', 'GICS Sub-Industry', 'CIK','Founded'],
            index_col = 'Symbol')

In [4]:
# Вывод значенией

In [5]:
sp500.head()

                     GICS Sub-Industry               CIK      Founded
Symbol
MMM           Industrial Conglomerates             66740         1902
AOS                  Building Products  4343243243432434         1916
ABT              Health Care Equipment              1800         1888
ABBV                   Pharmaceuticals           1551152  2013 (1888)
ACN     IT Consulting & Other Services           1467373         1989

In [6]:
sp500.tail(3)

            GICS Sub-Industry      CIK Founded
Symbol
ZBH     Health Care Equipment  1136869    1927
ZION           Regional Banks   109380    1873
ZTS           Pharmaceuticals  1555280    1952

In [10]:
# вывод строк по индексам
# получаем строк с меткой индекса 'MMM' , которая возвращается в виде объекта Series

In [15]:
sp500.loc['MMM']

GICS Sub-Industry    Industrial Conglomerates
CIK                                     66740
Founded                                  1902
Name: MMM, dtype: object

In [16]:
type(sp500.loc['MMM'])

pandas.core.series.Series

In [17]:
# получаем строки с меткой индекса 'MMM', 'AOS'  , которая возвращается в виде объекта DataFrame

In [19]:
sp500.loc[['MMM','AOS']]

               GICS Sub-Industry               CIK Founded
Symbol
MMM     Industrial Conglomerates             66740    1902
AOS            Building Products  4343243243432434    1916

In [21]:
type(sp500.loc[['MMM','AOS']])

pandas.core.frame.DataFrame

In [23]:
# по номеру позиции

In [26]:
# Series
numbers

25   -1.085631
26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
30    1.651437
31   -2.426679
32   -0.428913
33    1.265936
34   -0.866740
dtype: float64

In [29]:
# вывод по позиции 
# 5  - позиция от 0 до 5
# -3 - позиция с конца (конечный элемент именеет позицию -1)
numbers.iloc[5]
numbers.iloc[-3]
numbers.iloc[[5,-3]]

30    1.651437
32   -0.428913
dtype: float64

In [30]:
numbers.iloc[10]

IndexError: single positional indexer is out-of-bounds

In [31]:
# DataFrame

In [32]:
sp500.iloc[[0,2]]

               GICS Sub-Industry    CIK Founded
Symbol
MMM     Industrial Conglomerates  66740    1902
ABT        Health Care Equipment   1800    1888

In [34]:
# получаем позиции меток МММ и А в индексе
i1 = sp500.index.get_loc('MMM')
i2 = sp500.index.get_loc('A')
(i1, i2)

(0, 12)

In [35]:
# извлекаем строки используя полученные метки
sp500.iloc[[i1, i2]]

               GICS Sub-Industry      CIK Founded
Symbol
MMM     Industrial Conglomerates    66740    1902
A          Health Care Equipment  1090872    1999

In [36]:
# поиск отельных скалярных значений (передаем метку строки и метку столбца)

In [38]:
sp500.at['MMM','CIK']

66740

In [39]:
# поиск отельных скалярных значений (передаем позицию строки и позицию столбца) - дает максимальную производительность

In [40]:
sp500.iat[0,1]

66740

In [41]:
# одновременный отбор строк и столбцов
# отбираем строки с метками индекса ABT и ZTS для столбцов CIK и Founded

In [42]:
sp500.loc [['ABT', 'ZTS']][['CIK', 'Founded']]

            CIK Founded
Symbol
ABT        1800    1888
ZTS     1555280    1952

In [44]:
sp500.loc [['ABT', 'ZTS'],['CIK', 'Founded']]

            CIK Founded
Symbol
ABT        1800    1888
ZTS     1555280    1952

In [45]:
# определение номера позиции заданных меток

In [46]:
print(sp500.index.get_loc('ABT'),sp500.index.get_loc('ZTS'))

2 502

In [47]:
# отбор строк и столбцов по номеру позиций

In [48]:
sp500.iloc[[2,502], [0,1]]

            GICS Sub-Industry      CIK
Symbol
ABT     Health Care Equipment     1800
ZTS           Pharmaceuticals  1555280

In [49]:
# траспонирование (столбцы становятся строками, строка старновятся столбцами)

In [50]:
sp500.head()

                     GICS Sub-Industry               CIK      Founded
Symbol
MMM           Industrial Conglomerates             66740         1902
AOS                  Building Products  4343243243432434         1916
ABT              Health Care Equipment              1800         1888
ABBV                   Pharmaceuticals           1551152  2013 (1888)
ACN     IT Consulting & Other Services           1467373         1989

In [51]:
sp500.T.head()

Symbol,MMM,AOS,ABT,ABBV,ACN,ATVI,ADM,ADBE,ADP,AAP,...,WTW,GWW,WYNN,XEL,XYL,YUM,ZBRA,ZBH,ZION,ZTS
GICS Sub-Industry,Industrial Conglomerates,Building Products,Health Care Equipment,Pharmaceuticals,IT Consulting & Other Services,Interactive Home Entertainment,Agricultural Products & Services,Application Software,Human Resource & Employment Services,Automotive Retail,...,Insurance Brokers,Industrial Machinery & Supplies & Components,Casinos & Gaming,Multi-Utilities,Industrial Machinery & Supplies & Components,Restaurants,Electronic Equipment & Instruments,Health Care Equipment,Regional Banks,Pharmaceuticals
CIK,66740,4343243243432434,1800,1551152,1467373,718877,7084,796343,8670,1158449,...,1140536,277135,1174922,72903,1524472,1041061,877212,1136869,109380,1555280
Founded,1902,1916,1888,2013 (1888),1989,2008,1902,1982,1949,1932,...,2016,1927,2002,1909,2011,1997,1969,1927,1873,1952

In [52]:
# кодгда не понятно есть ли индекс 'new value' вообще 
sp500.loc[['MMM', 'AOS', 'new value']]

KeyError: "['new value'] not in index"

In [53]:
# испралвение данной ситуации путем переиндексации создает reindexed - новый объект  DataFrame с указанными строками

In [54]:
reindexed = sp500.reindex(index=['MMM', 'ABBV', 'new value'])

In [55]:
reindexed

                  GICS Sub-Industry        CIK      Founded
Symbol
MMM        Industrial Conglomerates    66740.0         1902
ABBV                Pharmaceuticals  1551152.0  2013 (1888)
new value                       NaN        NaN          NaN

In [56]:
# выпоняем переиндексацию столбцов

In [57]:
sp500.reindex(columns=['CIK', 'Founded', 'NewCol']).head()

                     CIK      Founded  NewCol
Symbol
MMM                66740         1902     NaN
AOS     4343243243432434         1916     NaN
ABT                 1800         1888     NaN
ABBV             1551152  2013 (1888)     NaN
ACN              1467373         1989     NaN

In [58]:
# заполнение пустующих значений NaN

In [59]:
sp500.reindex(columns=['CIK', 'Founded', 'NewCol'], fill_value=0).head()

                     CIK      Founded  NewCol
Symbol
MMM                66740         1902       0
AOS     4343243243432434         1916       0
ABT                 1800         1888       0
ABBV             1551152  2013 (1888)       0
ACN              1467373         1989       0

In [60]:
# случайная выборка

In [63]:
sp500.sample(n=3)

                       GICS Sub-Industry      CIK Founded
Symbol
BLK     Asset Management & Custody Banks  1364742    1988
ALGN                Health Care Supplies  1097149    1997
VTR                    Health Care REITs   740260    1998

In [64]:
# случайная выборка 10% наблюдений с возвращением (replace=True), по умолчанию изспользуется без возвращения

In [65]:
sp500.sample(frac=5, replace=True, random_state=777)

                                   GICS Sub-Industry      CIK Founded
Symbol
CRL                   Life Sciences Tools & Services  1100682    1947
MLM                           Construction Materials   916076    1993
BALL               Metal, Glass & Plastic Containers     9389    1880
SNA     Industrial Machinery & Supplies & Components    91440    1920
CPB                           Packaged Foods & Meats    16732    1869
...                                              ...      ...     ...
MCD                                      Restaurants    63908    1940
SBUX                                     Restaurants   829224    1971
IR      Industrial Machinery & Supplies & Components  1699150    1859
SPG                                     Retail REITs  1063761    2003
CMS                                  Multi-Utilities   811156    1886

[2515 rows x 3 columns]

In [ ]:
# настрока вывода значние по умолчанию 60 - вывод кол-во строк

In [67]:
pd.options.display.max_rows

60

In [68]:
sp500

                         GICS Sub-Industry               CIK      Founded
Symbol
MMM               Industrial Conglomerates             66740         1902
AOS                      Building Products  4343243243432434         1916
ABT                  Health Care Equipment              1800         1888
ABBV                       Pharmaceuticals           1551152  2013 (1888)
ACN         IT Consulting & Other Services           1467373         1989
...                                    ...               ...          ...
YUM                            Restaurants           1041061         1997
ZBRA    Electronic Equipment & Instruments            877212         1969
ZBH                  Health Care Equipment           1136869         1927
ZION                        Regional Banks            109380         1873
ZTS                        Pharmaceuticals           1555280         1952

[503 rows x 3 columns]

In [69]:
pd.options.display.max_rows = 10

In [70]:
sp500

                         GICS Sub-Industry               CIK      Founded
Symbol
MMM               Industrial Conglomerates             66740         1902
AOS                      Building Products  4343243243432434         1916
ABT                  Health Care Equipment              1800         1888
ABBV                       Pharmaceuticals           1551152  2013 (1888)
ACN         IT Consulting & Other Services           1467373         1989
...                                    ...               ...          ...
YUM                            Restaurants           1041061         1997
ZBRA    Electronic Equipment & Instruments            877212         1969
ZBH                  Health Care Equipment           1136869         1927
ZION                        Regional Banks            109380         1873
ZTS                        Pharmaceuticals           1555280         1952

[503 rows x 3 columns]

In [71]:
pd.options.display.max_rows

10