### task 1
 1. Создать Series из последовательности 15 значений, равномерно разбивающих отрезок [0, 20] 
 2. Определить отношение элементов полученной серии к их предыдущим элементам (*)
 3. В результате получить среднее полученного вектора, оставив в нем только, те значения которые не более чем 1.5 (**)
 
 Пояснения
 - *  последовательность из 3-х значений равномерно разбивающих отрезок [0, 1] то значения [0, 0.5, 1]
 - ** пусть список элементов a = [1, 2, 3, 12], отношения элементов к предыдущим равны [NaN, 2, 1.5, 4] под условеи не более чем 1.5 останентся 1 элемент и среднее знчение будет 1.5

In [20]:
import pandas as pd
import numpy as np

In [21]:
# task 1.1
s_1 = pd.Series(np.linspace(0, 20, 15))
s_1

0      0.000000
1      1.428571
2      2.857143
3      4.285714
4      5.714286
5      7.142857
6      8.571429
7     10.000000
8     11.428571
9     12.857143
10    14.285714
11    15.714286
12    17.142857
13    18.571429
14    20.000000
dtype: float64

In [22]:
# идея создать второй Series со смещением отностильно певого 
# s_2 Series c 1-ым элементом
s_2 =pd.Series(s_1[0])
s_2

0    0.0
dtype: float64

In [23]:
# добавление к s_2 s_1 и удаление последнего элемента 
s_2 = s_2.append(s_1,ignore_index=True)
s_2 = s_2[0:15]
s_2

0      0.000000
1      0.000000
2      1.428571
3      2.857143
4      4.285714
5      5.714286
6      7.142857
7      8.571429
8     10.000000
9     11.428571
10    12.857143
11    14.285714
12    15.714286
13    17.142857
14    18.571429
dtype: float64

In [24]:
# получение отношения элементов
s_3 = s_1 / s_2
s_3

0          NaN
1          inf
2     2.000000
3     1.500000
4     1.333333
5     1.250000
6     1.200000
7     1.166667
8     1.142857
9     1.125000
10    1.111111
11    1.100000
12    1.090909
13    1.083333
14    1.076923
dtype: float64

In [25]:
# task 1.3
s_4 =s_3[s_3 < 1.5]
s_4

4     1.333333
5     1.250000
6     1.200000
7     1.166667
8     1.142857
9     1.125000
10    1.111111
11    1.100000
12    1.090909
13    1.083333
14    1.076923
dtype: float64

In [26]:
s_4.mean()

1.1527394322848867

ответы выбрать максимально близкий к верному ответ
1) 1.24
2) 1.18
3) 0.71
4) 1.13

In [27]:
s_4.mean()-1.24

-0.08726056771511326

In [28]:
s_4.mean()-1.18

-0.027260567715113204

### task_2 ответ 1

In [29]:
s_2_1 = pd.Series('abcde')
s_2_1

0    abcde
dtype: object

In [30]:
s_2_2 = pd.Series(['abcde'])
s_2_2

0    abcde
dtype: object

In [31]:
s_2_3 = pd.Series(list('abcde'))
s_2_3

0    a
1    b
2    c
3    d
4    e
dtype: object

In [32]:
s_2_4 = pd.Series("abcde")
s_2_4

0    abcde
dtype: object

In [33]:
# task 1.2

### task_3
По клиенту пришли зашумленные данные s Series по его транзакциям
- создать новый Series, значения которого совпадают со значениями s, а индексы - целочисленные значения от 2 до 12, не включая 12.
- выберете из s элементы с индексами 3 и 5. после чего просумируйте их, сохранив результата (1)
- выбеерте из s только целочисленные элементы имеют тип int и вычислите их дисперсию (2) (полученые значнеия округлить до 2 х знаков )

In [34]:
s = pd.Series(data=['1', 2, 3.1, 'hi!', 5, -512, 12.42, 'sber', 10.10, 98],
              index=range(6, 26, 2))
s

6         1
8         2
10      3.1
12      hi!
14        5
16     -512
18    12.42
20     sber
22     10.1
24       98
dtype: object

In [35]:
# создать новый Series, значения которого совпадают со значениями s, а индексы - целочисленные значения от 2 до 12, не включая 12.

In [36]:
# а индексы - целочисленные значения от 2 до 12, не включая 12
a = list(range(2, 12))
#a
s = pd.Series (s.values, index=a)
s

2         1
3         2
4       3.1
5       hi!
6         5
7      -512
8     12.42
9      sber
10     10.1
11       98
dtype: object

In [37]:
# выберете из s элементы с индексами 3 и 5. после чего просумируйте их, сохранив результата (1)
#s_1 = s[3]+s[5]
# s_1

In [38]:
# ыбеерте из s только целочисленные элементы имеют тип int и вычислите их дисперсию (2) (полученые значнеия округлить до 2 х знаков )
# df['col'] = df['col'].apply ( lambda x: ' value1 ' if x < 20 else ' value2')
# фильтарация по значениям
s_2 = s[s.apply(lambda x: isinstance(x, int))]
#s_2 = s[s.apply(lambda x: isinstance(x, str))]
#s_2 = s[s.apply(lambda x: isinstance(x, float))]
s_2

3        2
6        5
7     -512
11      98
dtype: object

In [39]:
# вычислите их дисперсию (2) (полученые значнеия округлить до 2 х знаков )
#  ddof=0 позволит нам вычислить дисперсию генеральной совокупности. 
#  ddof=1 позволит нам оценить дисперсию генеральной совокупности с использованием выборки данных

In [40]:
round(s_2.var(ddof=0),2)

57591.19

In [41]:
s_2.var()

76788.25

### Task_4
- 1 Сгенерируйте Series из 100 значений нормально распреедленной СВ (np.random.normal с дефолтными параметрами - нулевым средним и единичной дисперсией)
- 2 Возвдедите каждое значение серии в 3 степень, а значение индекса увеличте в 3 раза
- 3 - вывести сумму элементов, строго меньших 2.6, имеющих нечентые значения индекса
    - вывести кол-во значений серии меньше 0

In [278]:
np.random.seed(242)
s = pd.Series(np.random.normal(size=100))
s

0    -0.357519
1     0.148448
2     0.993531
3     1.838968
4    -0.744026
        ...
95    0.950296
96    0.737315
97   -0.739985
98   -1.376260
99    0.052260
Length: 100, dtype: float64

In [279]:
s=s**3
s

0    -0.045698
1     0.003271
2     0.980718
3     6.219024
4    -0.411874
        ...
95    0.858176
96    0.400829
97   -0.405199
98   -2.606764
99    0.000143
Length: 100, dtype: float64

In [280]:
index_to_list = list(s.index.values*3)
#index_to_list

In [281]:
s_s = pd.Series(s.values,index=index_to_list)
s_s
#s = pd.Series([12,-4,7,9], index=['a','b','c','d'])

0     -0.045698
3      0.003271
6      0.980718
9      6.219024
12    -0.411874
         ...
285    0.858176
288    0.400829
291   -0.405199
294   -2.606764
297    0.000143
Length: 100, dtype: float64

In [282]:
# Генерация сразу 
s=0
np.random.seed(242)
s = pd.Series(np.random.normal(size=100)**3, index=[x * 3 for x in range(100)])
s

0     -0.045698
3      0.003271
6      0.980718
9      6.219024
12    -0.411874
         ...
285    0.858176
288    0.400829
291   -0.405199
294   -2.606764
297    0.000143
Length: 100, dtype: float64

In [283]:
# вывести сумму элементов, строго меньших 2.6, имеющих нечентые значения индекса
# &   - выводит пересечение значений 
# and - выводит последнее значение

In [284]:
list_a = []
for i in s.index:
    if ((i%2 == 1) and s[i]<2.6):
        list_a.append(s[i])
#list_a

In [288]:
total=0
for i in list_a:
    total=total+i
round(total,2)

-15.15

In [ ]:
# вывести кол-во значений серии меньше 0

In [299]:
list_b = []
for i in s.index:
    if (s[i]>0 and s[i]<2.6):
        list_b.append(s[i])
list_b

list_v = []
for i in s.index:
    if (s[i]<0):
        list_v.append(s[i])
list_v

[-0.045698174560496324,
 -0.4118740168791422,
 -0.029600718482273074,
 -0.3783535794297271,
 -0.08465516263612408,
 -0.3798956388791661,
 -0.10923259091495788,
 -0.00013353431440378077,
 -1.2904711057356149,
 -0.116584398727013,
 -2.55041978636538,
 -0.037409777528445626,
 -0.00045933160508152644,
 -0.009413268481914629,
 -0.23834206513794814,
 -0.5157118225601921,
 -0.0209124806334437,
 -4.526993354821416,
 -0.4644972997249122,
 -2.553432262633488,
 -7.092218337818363e-06,
 -0.012414062675111023,
 -7.0969052534061925,
 -5.140766561140775,
 -0.015363931224075904,
 -1.7720452018734867,
 -2.0106862887487917,
 -6.887738139391898,
 -0.22525364637882875,
 -0.10308359640904276,
 -4.015152670909428e-05,
 -0.12581799269041974,
 -0.1451293682274146,
 -1.1349833843775938,
 -3.652493475759129,
 -0.08371839470550295,
 -2.491928461838518,
 -2.0115868954164293,
 -0.027125433366646648,
 -0.17099380889088867,
 -8.043359355377456,
 -0.03293495584017849,
 -0.03174701922267609,
 -0.02164011899366821,
 -0.006735313815925853,
 -0.4847929325100325,
 -0.9872077261747998,
 -0.5888336588853346,
 -0.021599414411860144,
 -0.40519942615140836,
 -2.606764214856779]

In [302]:
s_3 = pd.Series(list_v)
s_3.count()

51

In [287]:
# второй способ более короткий
np.random.seed(242)
s = pd.Series(np.random.normal(size=100)**3, index=[x * 3 for x in range(100)])
print(round(s[s < 2.6][lambda x: x.index % 2 ==1].sum(), 2), s[s < 0].count(), sep=',')

-15.15,51

### --------------------------------------------------------------------------------------------------------------------------------

### --------------------------------------------------------------------------------------------------------------------------------
### Полезные вещи

In [26]:
# Получение индексов из series
index_to_list = list(s.index.values)
index_to_list

[6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [ ]:
a = 5
if a % 2 == 0:
    print('Четное число')
else:
    print('Нечентное число')
>>> Нечетное число

In [ ]:
# Перебор элементов
for i, v in arr.items():
    print(f'index: {i} and value: {v}')

In [42]:
# Получение списка где элементы целочисленные значения от 2 до 12, не включая 12.
#index_to_list_div.append(index_to_list[i]//2) 
index_to_list_div =[]
for i in range(len(index_to_list)):
    a = index_to_list[i]//2
    if (a >= 2) and (a <12):
        index_to_list_div.append(a)

index_to_list_div

[3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
# создали список из диапазона range(6, 26, 2) целочисленного поделелненого 
a= [i//2 for i in range(2, 12, 1) ]
a

In [ ]:
# удаление элементов по списку индексов
s_1 = s.copy()
for i in s_2.index:
    del s_1[i]
s_1